* {
    margin: 0;
    padding: 0;
}

#root {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tip {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}

.cell {
    width: 60px;
    height: 60px;
    padding: 20px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}

.col {
    display: flex;
}

.mask {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .7);
    color: red;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button {
    margin-top: 10px;
    font-size: 14px;
    padding: 10px;
    color: #06D85F;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.button:hover {
    background: #06D85F;
}